*{
	margin: 0;
	padding: 0;
}
header{
	background-color: #000 ;
	color: #fff
	
}

a{
text-decoration: none;	

}

.menu li{
	list-style: none;
	
	display: inline-block;
	margin-left: 25px;
	font-size: 20px;
	margin-bottom: 10px;

		
}
.menu a{
color: #ffffff;
}
.logo{
text-align: center;
padding-bottom: 20px;
padding-top: 20px;

}
.menu ul{
	text-align: center ;
	margin-right: 25px;

}
.text{
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 50px;
	margin-top: 80px;
	margin-left: 250px;
	margin-right: 250px;
}

h2{
	margin: 10px ;
}
figure{
	margin:20px 10px;
	text-align: center;
}